# Entorno virtual
venv/
.env

# Archivos temporales
__pycache__/
*.py[cod]
*.log
*.zip

# Archivos de salida
output/
upload/
*.xlsx

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación
*.so

*.DS_Store